<a class="encounter-item list-group-item" href="#"
        ng-class="{'active': $root.session.data.encounter == encounter}"
        ng-click="activate()">
    <img class="target" src="http://xivdbimg.zamimg.com/images/icons/053000/053041.png" />
    <strong>{{ encounter.title }}</strong>
    <div>
        <em>
            <span>
                <code>{{ encounter.encdps }}</code>
                over
                {{ encounter.duration / 60 | number : 0 }}:{{ (encounter.duration % 60) | padZeroes : 2 }}
            </span>
            <span class="pull-right">{{ encounter.encid }}</span>
        </em>
    </div>
</div>
