.encounter-item img.target {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #555;
    border-radius: 3px;
}

.swing.critical {
    background-color: #f5f5f5;
}
.swing.critical .damage {
    font-size: 1.2em;
}
.swing.critical .damage::after {
    content: "!";
}

.swing .icon {
    width: 25px;
    height: 25px;
}

.swing:not(.gcd) {
    transform: scale(0.95);
}