<!DOCTYPE html>
<html ng-app="xivinsight">
<head>
    <title>XIV INSIGHT</title>

    <script>
        window._STATIC_URL = "{{ STATIC_URL }}";
    </script>

    {# jQuery #}
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    {# Bootstrap #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    {# Angular #}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-cookies.js"></script>

    {# Restangular #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>

    {# XIV INSIGHT #}
    <link rel="stylesheet" href="{{ STATIC_URL }}site.css">
    <script src="{{ STATIC_URL }}app/SiteConfiguration.js"></script>
    <script src="{{ STATIC_URL }}app/HttpQueue.js"></script>
    <script src="{{ STATIC_URL }}app/filters.js"></script>
    <script src="{{ STATIC_URL }}app/api.js"></script>
    <script src="{{ STATIC_URL }}app/core.js"></script>
    <script src="{{ STATIC_URL }}app/app.js"></script>
</head>
<body class="container" ng-controller="XIVINSIGHT">
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center">XIV INSIGHT</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <encounter-list ng-controller="EncounterList as encounterListController"></encounter-list>
        </div>
        <div class="col-md-9">
            <active-encounter ng-controller="ActiveEncounter"></active-encounter>
        </div>
    </div>
</body>
</html>
